In [24]:
import pandas as pd
import numpy as np

In [25]:
sensor_names=[f's{i}' for i in range(1,22)]
settings=['set_1','set_2','set_3']
cols=['unit_nr','time']+settings+sensor_names

In [26]:
cols

['unit_nr',
 'time',
 'set_1',
 'set_2',
 'set_3',
 's1',
 's2',
 's3',
 's4',
 's5',
 's6',
 's7',
 's8',
 's9',
 's10',
 's11',
 's12',
 's13',
 's14',
 's15',
 's16',
 's17',
 's18',
 's19',
 's20',
 's21']

In [27]:
train=pd.read_csv('CMAPSSData/train_FD001.txt',sep='\s+',names=cols)

In [28]:
train

,unit_nr,time,set_1,set_2,set_3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [30]:
train.loc[train['unit_nr']==1].describe()

,unit_nr,time,set_1,set_2,set_3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
count,192.0,192.000000,192.000000,192.000000,192.0,192.00,192.000000,192.000000,192.000000,1.920000e+02,...,192.000000,192.000000,192.000000,192.000000,1.920000e+02,192.000000,192.0,192.0,192.000000,192.000000
mean,1.0,96.500000,-0.000189,0.000048,100.0,518.67,642.621042,1589.485521,1407.262135,1.462000e+01,...,521.459427,2388.110833,8128.913542,8.436555,3.000000e-02,392.854167,2388.0,100.0,38.840052,23.306310
std,0.0,55.569776,0.001953,0.000282,0.0,0.00,0.486795,5.759776,8.565610,3.562002e-15,...,0.749176,0.076960,5.563129,0.034125,1.043555e-17,1.475661,0.0,0.0,0.166998,0.105101
min,1.0,1.000000,-0.006700,-0.000400,100.0,518.67,641.710000,1577.600000,1393.580000,1.462000e+01,...,519.530000,2387.970000,8110.930000,8.368200,3.000000e-02,390.000000,2388.0,100.0,38.340000,22.958800
25%,1.0,48.750000,-0.001425,-0.000200,100.0,518.67,642.272500,1584.727500,1400.985000,1.462000e+01,...,521.052500,2388.050000,8125.917500,8.413275,3.000000e-02,392.000000,2388.0,100.0,38.750000,23.251525
50%,1.0,96.500000,0.000000,0.000100,100.0,518.67,642.540000,1589.615000,1404.480000,1.462000e+01,...,521.600000,2388.090000,8129.970000,8.431150,3.000000e-02,393.000000,2388.0,100.0,38.865000,23.318700
75%,1.0,144.250000,0.001000,0.000300,100.0,518.67,642.882500,1592.715000,1412.305000,1.462000e+01,...,521.960000,2388.160000,8132.752500,8.457275,3.000000e-02,394.000000,2388.0,100.0,38.960000,23.376075
max,1.0,192.000000,0.004700,0.000500,100.0,518.67,644.210000,1605.440000,1432.520000,1.462000e+01,...,522.860000,2388.350000,8140.580000,8.522700,3.000000e-02,398.000000,2388.0,100.0,39.180000,23.499900